In [19]:
import numpy as np
import pandas as pd

In [20]:
# retrieve the data
msolution_orders = pd.read_csv('MSolution Orders.csv')
nova_orders = pd.read_csv('nova orders.csv')
open_bars = pd.read_csv('order open bars.csv')

live_orders = pd.concat([msolution_orders, nova_orders])
open_bars

                    Nova datetime_ohlcv           MSolutions datetime_ohlcv.1
0    EURUSD,M2 (offline)            NaN  EURUSD,M2 (offline)              NaN
1                   Date     2024.03.11                 Date       2024.03.11
2                   Time          12:22                 Time            12:01
3                   Open         1.0942                 Open              NaN
4                   High        1.09435                 High              NaN
..                   ...            ...                  ...              ...
363                 Open         1.0924                  NaN              NaN
364                 High         1.0925                  NaN              NaN
365                  Low        1.09224                  NaN              NaN
366                Close         1.0925                  NaN              NaN
367               Volume            243                  NaN              NaN

[368 rows x 4 columns]

In [21]:
nova_open_bars = open_bars.loc[:, ['Nova', 'datetime_ohlcv']]
msolutions_open_bars = open_bars.loc[:, ['MSolutions', 'datetime_ohlcv.1']]
# drop nulls in the "MSolutions" column
msolutions_open_bars_no_na = msolutions_open_bars.dropna(subset=['MSolutions'])

In [22]:
def massaging_df(df, name_col, datetime_col):
    # remove any rows in name_col that contain the word "EURUSD"
    open_bars_no_symbol_label = df[~df[name_col].str.contains('EURUSD')]
    open_bars_datetime_Open = open_bars_no_symbol_label[open_bars_no_symbol_label[name_col].str.contains('Date') 
                                                        | open_bars_no_symbol_label[name_col].str.contains('Open') 
                                                        | open_bars_no_symbol_label[name_col].str.contains('Time')]
    # pivot the dataframe to be wide instead of long, so move all the unique values in the 'Nova' column to be their own columns
    pivot = open_bars_datetime_Open.pivot(columns=name_col, values=datetime_col)
    # forward fill all of the columns
    pivot_filled = pivot.ffill()
    # drop the rows with nulls
    pivot_filled_na_dropped = pivot_filled.dropna()
    # drop duplicates
    pivot_filled_na_dropped_no_dups = pivot_filled_na_dropped.drop_duplicates()
    # concatenate 'Date' and 'Time' columns
    pivot_filled_na_dropped_no_dups['Date'] = pivot_filled_na_dropped_no_dups['Date'].astype(str)
    pivot_filled_na_dropped_no_dups['Time'] = pivot_filled_na_dropped_no_dups['Time'].astype(str)
    pivot_filled_na_dropped_no_dups['datetime'] = pivot_filled_na_dropped_no_dups['Date'] + ' ' + pivot_filled_na_dropped_no_dups['Time']
    pivot_filled_na_dropped_no_dups['datetime'] = pd.to_datetime(pivot_filled_na_dropped_no_dups['datetime'], format='%Y.%m.%d %H:%M')
    # group by datetime, and get the second value of the index for 'Open' column
    pivot_filled_na_dropped_no_dups['Open'] = pivot_filled_na_dropped_no_dups['Open'].astype(float)
    # group by datetime, and get the count
    pivot_count = pivot_filled_na_dropped_no_dups.groupby('datetime')['Open'].count()
    # join pivot_count with pivot_filled_na_dropped_no_dups
    pivot_filled_na_dropped_no_dups_joined = pivot_filled_na_dropped_no_dups.join(pivot_count, on='datetime', rsuffix='_count', how='left')
    not_a_dup = pivot_filled_na_dropped_no_dups_joined[pivot_filled_na_dropped_no_dups_joined['Open_count'] < 2]
    with_dups = pivot_filled_na_dropped_no_dups_joined[pivot_filled_na_dropped_no_dups_joined['Open_count'] > 1]
    pivot_filled_na_dropped_no_dups_grouped = with_dups.groupby('datetime').nth(1)
    appended_df = pd.concat([not_a_dup, pivot_filled_na_dropped_no_dups_grouped])
    appended_df_sorted = appended_df.sort_values(by='datetime')

    return appended_df_sorted

In [23]:
import warnings
warnings.filterwarnings('ignore')
nova_df = massaging_df(nova_open_bars, 'Nova', 'datetime_ohlcv')
msolutions_df = massaging_df(msolutions_open_bars_no_na, 'MSolutions', 'datetime_ohlcv.1')
msolutions_df

           Date    Open   Time            datetime  Open_count
11   2024.03.11  1.0943  12:08 2024-03-11 12:08:00           1
19   2024.03.11  1.0937  13:11 2024-03-11 13:11:00           2
27   2024.03.11  1.0941  14:00 2024-03-11 14:00:00           2
35   2024.03.11  1.0942  14:32 2024-03-11 14:32:00           2
43   2024.03.11  1.0940  15:17 2024-03-11 15:17:00           2
51   2024.03.11  1.0936  15:51 2024-03-11 15:51:00           2
59   2024.03.11  1.0935  15:52 2024-03-11 15:52:00           2
67   2024.03.11  1.0927  16:32 2024-03-11 16:32:00           2
75   2024.03.11  1.0925  16:47 2024-03-11 16:47:00           2
83   2024.03.11  1.0920  17:15 2024-03-11 17:15:00           2
91   2024.03.11  1.0919  17:38 2024-03-11 17:38:00           2
99   2024.03.11  1.0920  17:40 2024-03-11 17:40:00           2
107  2024.03.11  1.0922  18:08 2024-03-11 18:08:00           2
115  2024.03.11  1.0918  18:35 2024-03-11 18:35:00           2
123  2024.03.11  1.0916  18:44 2024-03-11 18:44:00           2
131  2024.03.11  1.0918  18:47 2024-03-11 18:47:00           2
139  2024.03.11  1.0924  19:02 2024-03-11 19:02:00           2
147  2024.03.11  1.0926  19:08 2024-03-11 19:08:00           2
154  2024.03.11  1.0926  19:33 2024-03-11 19:33:00           1
163  2024.03.11  1.0927  19:48 2024-03-11 19:48:00           2
171  2024.03.11  1.0928  20:06 2024-03-11 20:06:00           2
179  2024.03.11  1.0929  20:09 2024-03-11 20:09:00           2
187  2024.03.11  1.0928  20:24 2024-03-11 20:24:00           2
195  2024.03.11  1.0922  21:46 2024-03-11 21:46:00           2
203  2024.03.11  1.0924  22:35 2024-03-11 22:35:00           2
211  2024.03.11  1.0925  22:43 2024-03-11 22:43:00           2
219  2024.03.12  1.0927   2:16 2024-03-12 02:16:00           2
227  2024.03.12  1.0930   3:38 2024-03-12 03:38:00           2
235  2024.03.12  1.0931   4:44 2024-03-12 04:44:00           2
243  2024.03.12  1.0932   5:11 2024-03-12 05:11:00           2
251  2024.03.12  1.0935   5:32 2024-03-12 05:32:00           2
259  2024.03.12  1.0937   7:12 2024-03-12 07:12:00           2
267  2024.03.12  1.0936   7:40 2024-03-12 07:40:00           2
274  2024.03.12  1.0936   7:41 2024-03-12 07:41:00           1
283  2024.03.12  1.0938   8:00 2024-03-12 08:00:00           2
291  2024.03.12  1.0936   9:04 2024-03-12 09:04:00           2
299  2024.03.12  1.0938   9:27 2024-03-12 09:27:00           2
307  2024.03.12  1.0936  10:01 2024-03-12 10:01:00           2
315  2024.03.12  1.0937  10:07 2024-03-12 10:07:00           2
323  2024.03.12  1.0935  10:17 2024-03-12 10:17:00           2
331  2024.03.12  1.0936  10:30 2024-03-12 10:30:00           2
339  2024.03.12  1.0935  10:42 2024-03-12 10:42:00           2
347  2024.03.12  1.0924  11:53 2024-03-12 11:53:00           2
217  2024.03.12  1.0925  22:43 2024-03-12 22:43:00           1

In [24]:
nova_df

           Date    Open   Time            datetime  Open_count
3    2024.03.11  1.0942  12:22 2024-03-11 12:22:00           1
11   2024.03.11  1.0936  13:07 2024-03-11 13:07:00           2
19   2024.03.11  1.0941  14:04 2024-03-11 14:04:00           2
27   2024.03.11  1.0942  14:32 2024-03-11 14:32:00           2
35   2024.03.11  1.0940  15:15 2024-03-11 15:15:00           2
43   2024.03.11  1.0936  15:51 2024-03-11 15:51:00           2
51   2024.03.11  1.0935  15:52 2024-03-11 15:52:00           2
59   2024.03.11  1.0927  16:32 2024-03-11 16:32:00           2
66   2024.03.11  1.0927  16:35 2024-03-11 16:35:00           1
74   2024.03.11  1.0927  16:36 2024-03-11 16:36:00           1
83   2024.03.11  1.0924  16:48 2024-03-11 16:48:00           2
91   2024.03.11  1.0919  17:15 2024-03-11 17:15:00           2
98   2024.03.11  1.0919  17:38 2024-03-11 17:38:00           1
107  2024.03.11  1.0920  17:40 2024-03-11 17:40:00           2
115  2024.03.11  1.0922  18:08 2024-03-11 18:08:00           2
123  2024.03.11  1.0918  18:35 2024-03-11 18:35:00           2
131  2024.03.11  1.0916  18:44 2024-03-11 18:44:00           2
139  2024.03.11  1.0918  18:48 2024-03-11 18:48:00           2
147  2024.03.11  1.0924  19:02 2024-03-11 19:02:00           2
155  2024.03.11  1.0927  19:15 2024-03-11 19:15:00           2
163  2024.03.11  1.0926  19:36 2024-03-11 19:36:00           2
171  2024.03.11  1.0927  19:48 2024-03-11 19:48:00           2
179  2024.03.11  1.0928  20:02 2024-03-11 20:02:00           2
186  2024.03.11  1.0928  20:08 2024-03-11 20:08:00           1
194  2024.03.11  1.0928  20:24 2024-03-11 20:24:00           1
203  2024.03.11  1.0922  21:46 2024-03-11 21:46:00           2
211  2024.03.12  1.0930   3:38 2024-03-12 03:38:00           2
219  2024.03.12  1.0931   4:44 2024-03-12 04:44:00           2
227  2024.03.12  1.0932   5:11 2024-03-12 05:11:00           2
235  2024.03.12  1.0935   5:32 2024-03-12 05:32:00           2
242  2024.03.12  1.0935   6:13 2024-03-12 06:13:00           1
251  2024.03.12  1.0937   6:40 2024-03-12 06:40:00           2
258  2024.03.12  1.0937   7:12 2024-03-12 07:12:00           1
267  2024.03.12  1.0936   7:40 2024-03-12 07:40:00           2
274  2024.03.12  1.0936   7:41 2024-03-12 07:41:00           1
283  2024.03.12  1.0938   8:01 2024-03-12 08:01:00           2
291  2024.03.12  1.0936   9:04 2024-03-12 09:04:00           2
299  2024.03.12  1.0937   9:27 2024-03-12 09:27:00           2
306  2024.03.12  1.0937   9:55 2024-03-12 09:55:00           1
314  2024.03.12  1.0937  10:07 2024-03-12 10:07:00           1
323  2024.03.12  1.0935  10:17 2024-03-12 10:17:00           2
331  2024.03.12  1.0936  10:30 2024-03-12 10:30:00           2
339  2024.03.12  1.0935  10:42 2024-03-12 10:42:00           2
347  2024.03.12  1.0929  11:20 2024-03-12 11:20:00           2
355  2024.03.12  1.0928  11:21 2024-03-12 11:21:00           2
363  2024.03.12  1.0924  11:53 2024-03-12 11:53:00           2
209  2024.03.12  1.0922  21:46 2024-03-12 21:46:00           1

In [25]:
warnings.resetwarnings()

In [26]:
# convert Open Time to datetime 
msolution_orders['Open Time'] = pd.to_datetime(msolution_orders['Open Time'], format='%Y.%m.%d %H:%M:%S')
nova_orders['Open Time'] = pd.to_datetime(nova_orders['Open Time'], format='%Y.%m.%d %H:%M:%S')
# create a column that doesn't include the seconds for Open Time
msolution_orders['Open Time No Seconds'] = msolution_orders['Open Time'].dt.strftime('%Y.%m.%d %H:%M')
nova_orders['Open Time No Seconds'] = nova_orders['Open Time'].dt.strftime('%Y.%m.%d %H:%M')
# join msolution_orders and msolutions_df on 'Open Time No Seconds' for msolution_orders and 'datetime' for msolutions_df
msolutions_df['Open Time No Seconds'] = msolutions_df['datetime'].dt.strftime('%Y.%m.%d %H:%M')
nova_df['Open Time No Seconds'] = nova_df['datetime'].dt.strftime('%Y.%m.%d %H:%M')
# filter msolutions_df to only include the columns 'Open Time No Seconds' and 'Open'
msolutions_df_filtered = msolutions_df.loc[:, ['Open Time No Seconds', 'Open']]
nova_df_filtered = nova_df.loc[:, ['Open Time No Seconds', 'Open']]
msolutions_joined = msolution_orders.join(msolutions_df_filtered.set_index('Open Time No Seconds'), on='Open Time No Seconds', rsuffix='_msolutions', how='left')
nova_joined = nova_orders.join(nova_df_filtered.set_index('Open Time No Seconds'), on='Open Time No Seconds', rsuffix='_nova', how='left')

In [39]:
# find the difference between "Price" and "Open" for both msolutions_joined and nova_joined
# drop the null value from msolutions_joined in the Open column
msolutions_joined_no_na = msolutions_joined.dropna(subset=['Open'])
msolutions_joined_no_na['Spread'] = msolutions_joined_no_na['Price'] - msolutions_joined_no_na['Open']
nova_joined['Spread'] = nova_joined['Price'] - nova_joined['Open']
# create a column to calculate the close spread, which we can determine by shifting the "Open" column up by one row
msolutions_joined_no_na['Close'] = msolutions_joined_no_na['Open'].shift(-1)
nova_joined['Close'] = nova_joined['Open'].shift(-1)
# find the close spread
msolutions_joined_no_na['Close Spread'] = msolutions_joined_no_na['Close'] - msolutions_joined_no_na['Price.1']
nova_joined['Close Spread'] = nova_joined['Close'] - nova_joined['Price.1']
# filter to just the buy orders for the "Type" column in both dataframes
msolutions_joined_no_na_buy = msolutions_joined_no_na[msolutions_joined_no_na['Type'] == 'buy']
nova_joined_buy = nova_joined[nova_joined['Type'] == 'buy']
msolutions_joined_no_na_sell = msolutions_joined_no_na[msolutions_joined_no_na['Type'] == 'sell']
nova_joined_sell = nova_joined[nova_joined['Type'] == 'sell']

C:\Users\WilliamFetzner\AppData\Local\Temp\ipykernel_28164\519632357.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  msolutions_joined_no_na['Spread'] = msolutions_joined_no_na['Price'] - msolutions_joined_no_na['Open']
C:\Users\WilliamFetzner\AppData\Local\Temp\ipykernel_28164\519632357.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  msolutions_joined_no_na['Close'] = msolutions_joined_no_na['Open'].shift(-1)
C:\Users\WilliamFetzner\AppData\Local\Temp\ipykernel_28164\519632357.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  msolutions_joined_no_na['Close Spread'] = msolutions_joined_no_na['Close'] - msolutions_joined_no_na['Price.1']

In [40]:
# find the average spread for both msolutions_joined and nova_joined
print(f"""MSolutions Average Spread Buy: {msolutions_joined_no_na_buy['Spread'].mean()}
       Nova Average Spread Buy: {nova_joined_buy['Spread'].mean()}
       MSolutions Average Spread Sell: {msolutions_joined_no_na_sell['Spread'].mean()}
       Nova Average Spread Sell: {nova_joined_sell['Spread'].mean()}
       MSolutions Average Close Spread Buy: {msolutions_joined_no_na_buy['Close Spread'].mean()}
       Nova Average Close Spread Buy: {nova_joined_buy['Close Spread'].mean()}
       MSolutions Average Close Spread Sell: {msolutions_joined_no_na_sell['Close Spread'].mean()}
       Nova Average Close Spread Sell: {nova_joined_sell['Close Spread'].mean()}""")

MSolutions Average Spread Buy: 0.00010045454545453742
       Nova Average Spread Buy: 8.521739130433652e-05
       MSolutions Average Spread Sell: -0.00012476190476188678
       Nova Average Spread Sell: -4.739130434782763e-05
       MSolutions Average Close Spread Buy: 0.00012190476190472521
       Nova Average Close Spread Buy: 0.00012454545454543275
       MSolutions Average Close Spread Sell: -0.00010904761904762501
       Nova Average Close Spread Sell: -0.00012782608695653856

In [41]:
# create a results dataframe from the above print statements with MSolutions and Nova as a column, and spread buy, spread sell, close spread buy, and close spread sell as rows
results = pd.DataFrame({'MSolutions': [msolutions_joined_no_na_buy['Spread'].mean(), msolutions_joined_no_na_sell['Spread'].mean(), 
                                       msolutions_joined_no_na_buy['Close Spread'].mean(), msolutions_joined_no_na_sell['Close Spread'].mean()],
                        'Nova': [nova_joined_buy['Spread'].mean(), nova_joined_sell['Spread'].mean(), nova_joined_buy['Close Spread'].mean(), 
                                 nova_joined_sell['Close Spread'].mean()]}, index=['Spread Buy', 'Spread Sell', 'Close Spread Buy', 'Close Spread Sell'])
results

                   MSolutions      Nova
Spread Buy           0.000100  0.000085
Spread Sell         -0.000125 -0.000047
Close Spread Buy     0.000122  0.000125
Close Spread Sell   -0.000109 -0.000128

In [44]:
# find the range of dates for Open Time in msolutions_joined_no_na
start_time, end_time = msolutions_joined_no_na['Open Time'].min(), msolutions_joined_no_na['Open Time'].max()
# convert the start_time and end_time to a string that has the format 'MM_DD_YY'
start_time_str = start_time.strftime('%m_%d_%y')
end_time_str = end_time.strftime('%m_%d_%y')
# save the results to a csv
# results.to_csv(f'spread_results_{start_time_str}_{end_time_str}.csv')
print(f'spread_results_{start_time_str}_{end_time_str}.csv')

spread_results_03_11_24_03_12_24.csv

In [38]:
msolutions_joined_no_na

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Price.1,Commission,Taxes,Swap,Profit,Open Time No Seconds,Open,Spread,Close,Close Spread
1,47707381,2024-03-11 12:08:33,sell,3,eurusd.i,1.09430,1.09459,0,2024.03.11 13:11:02,1.09382,-15,0,0,144,2024.03.11 12:08,1.0943,0.00000,1.0937,-0.00012
2,47711342,2024-03-11 13:11:03,buy,3,eurusd.i,1.09382,1.09354,0,2024.03.11 14:00:52,1.09388,-15,0,0,18,2024.03.11 13:11,1.0937,0.00012,1.0941,0.00022
3,47713783,2024-03-11 14:00:53,sell,3,eurusd.i,1.09389,1.09417,0,2024.03.11 14:03:18,1.09427,-15,0,0,-114,2024.03.11 14:00,1.0941,-0.00021,1.0942,-0.00007
4,47715182,2024-03-11 14:32:25,buy,3,eurusd.i,1.09429,1.09400,0,2024.03.11 15:17:11,1.09389,-15,0,0,-120,2024.03.11 14:32,1.0942,0.00009,1.0940,0.00011
5,47718057,2024-03-11 15:17:13,sell,3,eurusd.i,1.09388,1.09417,0,2024.03.11 15:20:06,1.09426,-15,0,0,-114,2024.03.11 15:17,1.0940,-0.00012,1.0936,-0.00066
6,47720747,2024-03-11 15:51:14,buy,3,eurusd.i,1.09365,1.09336,0,2024.03.11 15:52:02,1.09337,-15,0,0,-84,2024.03.11 15:51,1.0936,0.00005,1.0935,0.00013
7,47720804,2024-03-11 15:52:03,sell,3,eurusd.i,1.09337,1.09365,0,2024.03.11 16:32:14,1.09291,-15,0,0,138,2024.03.11 15:52,1.0935,-0.00013,1.0927,-0.00021
8,47725386,2024-03-11 16:32:15,buy,3,eurusd.i,1.09291,1.09262,0,2024.03.11 16:32:45,1.09253,-15,0,0,-114,2024.03.11 16:32,1.0927,0.00021,1.0925,-0.00003
9,47728308,2024-03-11 16:47:53,sell,3,eurusd.i,1.09238,1.09267,0,2024.03.11 17:15:35,1.09206,-15,0,0,96,2024.03.11 16:47,1.0925,-0.00012,1.0920,-0.00006
10,47733886,2024-03-11 17:15:35,buy,3,eurusd.i,1.09206,1.09178,0,2024.03.11 17:38:32,1.09180,-15,0,0,-78,2024.03.11 17:15,1.0920,0.00006,1.0919,0.00010
11,47737130,2024-03-11 17:38:33,sell,3,eurusd.i,1.09179,1.09207,0,2024.03.11 17:40:54,1.09209,-15,0,0,-90,2024.03.11 17:38,1.0919,-0.00011,1.0920,-0.00009
12,47737582,2024-03-11 17:40:55,buy,3,eurusd.i,1.09209,1.09180,0,2024.03.11 18:08:08,1.09209,-15,0,0,0,2024.03.11 17:40,1.0920,0.00009,1.0922,0.00011
13,47740703,2024-03-11 18:08:09,sell,3,eurusd.i,1.09209,1.09238,0,2024.03.11 18:35:38,1.09198,-15,0,0,33,2024.03.11 18:08,1.0922,-0.00011,1.0918,-0.00018
14,47743883,2024-03-11 18:35:39,buy,3,eurusd.i,1.09198,1.09169,0,2024.03.11 18:39:15,1.09159,-15,0,0,-117,2024.03.11 18:35,1.0918,0.00018,1.0916,0.00001
15,47744741,2024-03-11 18:44:37,sell,3,eurusd.i,1.09140,1.09168,0,2024.03.11 18:46:55,1.09177,-15,0,0,-111,2024.03.11 18:44,1.0916,-0.00020,1.0918,0.00003
16,47745040,2024-03-11 18:47:51,buy,3,eurusd.i,1.09189,1.09160,0,2024.03.11 19:02:50,1.09230,-15,0,0,123,2024.03.11 18:47,1.0918,0.00009,1.0924,0.00010
17,47746368,2024-03-11 19:02:50,sell,3,eurusd.i,1.09230,1.09259,0,2024.03.11 19:08:11,1.09268,-15,0,0,-114,2024.03.11 19:02,1.0924,-0.00010,1.0926,-0.00008
18,47746748,2024-03-11 19:08:50,buy,3,eurusd.i,1.09270,1.09241,0,2024.03.11 19:33:56,1.09237,-15,0,0,-99,2024.03.11 19:08,1.0926,0.00010,1.0926,0.00023
19,47748339,2024-03-11 19:33:57,sell,3,eurusd.i,1.09235,1.09265,0,2024.03.11 19:34:32,1.09275,-15,0,0,-120,2024.03.11 19:33,1.0926,-0.00025,1.0927,-0.00005
20,47749148,2024-03-11 19:48:16,buy,3,eurusd.i,1.09280,1.09251,0,2024.03.11 20:06:36,1.09275,-15,0,0,-15,2024.03.11 19:48,1.0927,0.00010,1.0928,0.00005
21,47750453,2024-03-11 20:06:37,sell,3,eurusd.i,1.09274,1.09300,0,2024.03.11 20:09:48,1.09310,-15,0,0,-108,2024.03.11 20:06,1.0928,-0.00006,1.0929,-0.00020
22,47750570,2024-03-11 20:09:50,buy,3,eurusd.i,1.09310,1.09280,0,2024.03.11 20:11:32,1.09271,-15,0,0,-117,2024.03.11 20:09,1.0929,0.00020,1.0928,0.00009
23,47751363,2024-03-11 20:24:39,sell,3,eurusd.i,1.09271,1.09300,0,2024.03.11 21:46:17,1.09226,-15,0,0,135,2024.03.11 20:24,1.0928,-0.00009,1.0922,-0.00006
24,47754459,2024-03-11 21:46:18,buy,3,eurusd.i,1.09226,1.09197,0,2024.03.11 22:35:53,1.09223,-15,0,0,-9,2024.03.11 21:46,1.0922,0.00006,1.0924,0.00017
25,47756287,2024-03-11 22:35:53,sell,3,eurusd.i,1.09223,1.09252,0,2024.03.11 22:41:48,1.09263,-15,0,0,-120,2024.03.11 22:35,1.0924,-0.00017,1.0925,-0.00013
26,47756508,2024-03-11 22:43:35,buy,3,eurusd.i,1.09268,1.09240,0,2024.03.11 22:52:29,1.09229,-15,0,0,-117,2024.03.11 22:43,1.0925,0.00018,1.0927,0.00041
27,47760028,2024-03-12 02:16:25,buy,3,eurusd.i,1.09280,1.09251,0,2024.03.12 03:38:57,1.09293,-15,0,0,39,2024.03.12 02:16,1.0927,0.00010,1.0930,0.00007
28,47762723,2024-03-12 03:38:57,sell,3,eurusd.i,1.09293,1.09321,0,2024.03.12 04:44:35,1.09318,-15,0,0,-75,2024.03.12 03:38,1.0930,-0.00007,1.0931,-0.00008
29,47764510,2024-03-12 04:44:35,buy,3,eurusd.i,1.09318,1.09290,0,2024.03.12 05:11:44,1.09303,-15,0,0,-45,2024.03.12 04:44,1.0931,0.00008,1.0932,0.00017
30,47765864,2024-03-12 05:11:45,sell,3,eurusd.i,1.09303,1.09331,0,2024.03.12 05:21:00,1.09340,-15,0,0,-111,2024.03.12 05:11,1.0932,-0.00017,1.0935,0.00010
31,47766694,2024-03-12 05:32:28,buy,3,eurusd.i,1.09364,1.09336,0,2024.03.12 07:12:40,1.09364,-15,0,0,0,2024.03.12 05:32,1.0935,0.00014,1.0937,0.00006
32,47770254,2024-03-12 07:12:40,sell,3,eurusd.i,1.09364,1.09393,0,2024.03.12 07:40:26,1.09370,-15,0,0,-18,2024.03.12 07:12,1.0937,-0.00006,1.0936,-0.00010
33,47770935,2024-03-12 07:40:27,buy,3,eurusd.i,1.09371,1.09341,0,2024.03.12 07:41:36,1.09341,-15,0,0,-90,2024.03.12 07:40,1.0936,0.00011,1.0936,0.00019
34,47770954,2024-03-12 07:41:37,sell,3,eurusd.i,1.09341,1.09370,0,2024.03.12 07:58:07,1.09379,-15,0,0,-114,2024.03.12 07:41,1.0936,-0.00019,1.0938,0.00001
35,47771405,2024-03-12 08:00:20,buy,3,eurusd.i,1.09389,1.09360,0,2024.03.12 09:04:01,1.09349,-15,0,0,-120,2024.03.12 08:00,1.0938,0.00009,1.0936,0.00011
36,47774324,2024-03-12 09:04:04,sell,3,eurusd.i,1.09349,1.09378,0,2024.03.12 09:08:54,1.09386,-15,0,0,-111,2024.03.12 09:04,1.0936,-0.00011,1.0938,-0.00006
37,47775168,2024-03-12 09:27:11,buy,3,eurusd.i,1.09387,1.09358,0,2024.03.12 10:01:11,1.09350,-15,0,0,-111,2024.03.12 09:27,1.0938,0.00007,1.0936,0.00010
38,47776663,2024-03-12 10:01:13,sell,3,eurusd.i,1.09345,1.09378,0,2024.03.12 10:07:47,1.09383,-15,0,0,-114,2024.03.12 10:01,1.0936,-0.00015,1.0937,-0.00013
39,47777095,2024-03-12 10:07:47,buy,3,eurusd.i,1.09384,1.09354,0,2024.03.12 10:17:01,1.09345,-15,0,0,-117,2024.03.12 10:07,1.0937,0.00014,1.0935,0.00005
40,47777649,2024-03-12 10:17:08,sell,3,eurusd.i,1.09341,1.09370,0,2024.03.12 10:28:21,1.09379,-15,0,0,-114,2024.03.12 10:17,1.0935,-0.00009,1.0936,-0.00019
41,47778270,2024-03-12 10:30:05,buy,3,eurusd.i,1.09358,1.09329,0,2024.03.12 10:42:42,1.09339,-15,0,0,-57,2024.03.12 10:30,1.0936,-0.00002,1.0935,0.00011
42,47778760,2024-03-12 10:42:43,sell,3,eurusd.i,1.09339,1.09368,0,2024.03.12 11:53:44,1.09236,-15,0,0,309,2024.03.12 10:42,1.0935,-0.00011,1.0924,0.00004
43,47782836,2024-03-12 11:53:45,buy,3,eurusd.i,1.09237,1.09239,0,2024.03.12 12:01:24,1.09231,-15,0,0,-18,2024.03.12 11:53,1.0924,-0.00003,NaN,NaN

In [31]:
msolutions_joined_no_na.loc[:, ['Open Time', 'Type', 'Open', 'Price', 'Spread']]

             Open Time  Type    Open    Price   Spread
1  2024-03-11 12:08:33  sell  1.0943  1.09430  0.00000
2  2024-03-11 13:11:03   buy  1.0937  1.09382  0.00012
3  2024-03-11 14:00:53  sell  1.0941  1.09389 -0.00021
4  2024-03-11 14:32:25   buy  1.0942  1.09429  0.00009
5  2024-03-11 15:17:13  sell  1.0940  1.09388 -0.00012
6  2024-03-11 15:51:14   buy  1.0936  1.09365  0.00005
7  2024-03-11 15:52:03  sell  1.0935  1.09337 -0.00013
8  2024-03-11 16:32:15   buy  1.0927  1.09291  0.00021
9  2024-03-11 16:47:53  sell  1.0925  1.09238 -0.00012
10 2024-03-11 17:15:35   buy  1.0920  1.09206  0.00006
11 2024-03-11 17:38:33  sell  1.0919  1.09179 -0.00011
12 2024-03-11 17:40:55   buy  1.0920  1.09209  0.00009
13 2024-03-11 18:08:09  sell  1.0922  1.09209 -0.00011
14 2024-03-11 18:35:39   buy  1.0918  1.09198  0.00018
15 2024-03-11 18:44:37  sell  1.0916  1.09140 -0.00020
16 2024-03-11 18:47:51   buy  1.0918  1.09189  0.00009
17 2024-03-11 19:02:50  sell  1.0924  1.09230 -0.00010
18 2024-03-11 19:08:50   buy  1.0926  1.09270  0.00010
19 2024-03-11 19:33:57  sell  1.0926  1.09235 -0.00025
20 2024-03-11 19:48:16   buy  1.0927  1.09280  0.00010
21 2024-03-11 20:06:37  sell  1.0928  1.09274 -0.00006
22 2024-03-11 20:09:50   buy  1.0929  1.09310  0.00020
23 2024-03-11 20:24:39  sell  1.0928  1.09271 -0.00009
24 2024-03-11 21:46:18   buy  1.0922  1.09226  0.00006
25 2024-03-11 22:35:53  sell  1.0924  1.09223 -0.00017
26 2024-03-11 22:43:35   buy  1.0925  1.09268  0.00018
27 2024-03-12 02:16:25   buy  1.0927  1.09280  0.00010
28 2024-03-12 03:38:57  sell  1.0930  1.09293 -0.00007
29 2024-03-12 04:44:35   buy  1.0931  1.09318  0.00008
30 2024-03-12 05:11:45  sell  1.0932  1.09303 -0.00017
31 2024-03-12 05:32:28   buy  1.0935  1.09364  0.00014
32 2024-03-12 07:12:40  sell  1.0937  1.09364 -0.00006
33 2024-03-12 07:40:27   buy  1.0936  1.09371  0.00011
34 2024-03-12 07:41:37  sell  1.0936  1.09341 -0.00019
35 2024-03-12 08:00:20   buy  1.0938  1.09389  0.00009
36 2024-03-12 09:04:04  sell  1.0936  1.09349 -0.00011
37 2024-03-12 09:27:11   buy  1.0938  1.09387  0.00007
38 2024-03-12 10:01:13  sell  1.0936  1.09345 -0.00015
39 2024-03-12 10:07:47   buy  1.0937  1.09384  0.00014
40 2024-03-12 10:17:08  sell  1.0935  1.09341 -0.00009
41 2024-03-12 10:30:05   buy  1.0936  1.09358 -0.00002
42 2024-03-12 10:42:43  sell  1.0935  1.09339 -0.00011
43 2024-03-12 11:53:45   buy  1.0924  1.09237 -0.00003