In [2]:
import pandas as pd
import datetime

In [3]:
# import "calendar_statement_" + year + month + day + ".csv" with year month and day being the date of last sunday
# find the day  of the last sunday
today = datetime.date.today()
sunday = today - datetime.timedelta(days=today.weekday() + 1)
year = sunday.year
month = sunday.month
day = sunday.day
# import the file
# filename = "C:/Users/WilliamFetzner/AppData/Roaming/MetaQuotes/Terminal/0C2BFA140CA8FBEFEDCADDDEDD61AA24/MQL4/Files/calendar_statement_" + str(year) + '_' + str(month) + '_' +  str(day) + ".csv"
filename_path = "C:/Users/WilliamFetzner/AppData/Roaming/MetaQuotes/Terminal/0C2BFA140CA8FBEFEDCADDDEDD61AA24/tester/files/calendar_statement_"
df_q1 = pd.read_csv(filename_path + 'Jan_Mar_22.csv')
df_q2 = pd.read_csv(filename_path + 'Apr_Jun_22.csv')
df_q3 = pd.read_csv(filename_path + 'Jul_Sep_22.csv')
df_q4 = pd.read_csv(filename_path + 'Oct_Dec_22.csv')
# filename_path

In [4]:
# stack the dataframes on top of one another
df = pd.concat([df_q1, df_q2, df_q3, df_q4], axis=0)
# drop any duplicate rows
df = df.drop_duplicates()
# reset the index
df = df.reset_index(drop=True)
df

,Date,Event,Impact,Currency
0,"2022, January 03, 10:15",(Spain) Markit Manufacturing PMI,High,EUR
1,"2022, January 03, 10:30",(Austria) Unemployment Rate,High,EUR
2,"2022, January 03, 10:45",(Italy) IHS Markit Manufacturing PMI,High,EUR
3,"2022, January 03, 10:55",(Germany) Markit Manufacturing PMI,High,EUR
4,"2022, January 03, 11:00",(Greece) Markit Manufacturing PMI,High,EUR
...,...,...,...,...
1326,"2022, December 29, 10:00",(Spain) Retail Sales YoY,High,EUR
1327,"2022, December 29, 15:30",(United States) Initial Jobless Claims,High,USD
1328,"2022, December 29, 15:30",(United States) Jobless Claims 4-week Average,High,USD
1329,"2022, December 29, 15:30",(United States) Continuing Jobless Claims,High,USD
1330,"2022, December 30, 12:00",(Greece) Retail Sales YoY,High,EUR

In [5]:
# convert the date to datetime from format "YYYY, February 01, 00:00"
df['Date'] = pd.to_datetime(df['Date'], format='%Y, %B %d, %H:%M')
df

,Date,Event,Impact,Currency
0,2022-01-03 10:15:00,(Spain) Markit Manufacturing PMI,High,EUR
1,2022-01-03 10:30:00,(Austria) Unemployment Rate,High,EUR
2,2022-01-03 10:45:00,(Italy) IHS Markit Manufacturing PMI,High,EUR
3,2022-01-03 10:55:00,(Germany) Markit Manufacturing PMI,High,EUR
4,2022-01-03 11:00:00,(Greece) Markit Manufacturing PMI,High,EUR
...,...,...,...,...
1326,2022-12-29 10:00:00,(Spain) Retail Sales YoY,High,EUR
1327,2022-12-29 15:30:00,(United States) Initial Jobless Claims,High,USD
1328,2022-12-29 15:30:00,(United States) Jobless Claims 4-week Average,High,USD
1329,2022-12-29 15:30:00,(United States) Continuing Jobless Claims,High,USD
1330,2022-12-30 12:00:00,(Greece) Retail Sales YoY,High,EUR

In [6]:
# set the index to the date
# df_new_index = df.set_index('Date')
# create a new column for the week number of the year
df['Week'] = df['Date'].dt.isocalendar().week
df

,Date,Event,Impact,Currency,Week
0,2022-01-03 10:15:00,(Spain) Markit Manufacturing PMI,High,EUR,1
1,2022-01-03 10:30:00,(Austria) Unemployment Rate,High,EUR,1
2,2022-01-03 10:45:00,(Italy) IHS Markit Manufacturing PMI,High,EUR,1
3,2022-01-03 10:55:00,(Germany) Markit Manufacturing PMI,High,EUR,1
4,2022-01-03 11:00:00,(Greece) Markit Manufacturing PMI,High,EUR,1
...,...,...,...,...,...
1326,2022-12-29 10:00:00,(Spain) Retail Sales YoY,High,EUR,52
1327,2022-12-29 15:30:00,(United States) Initial Jobless Claims,High,USD,52
1328,2022-12-29 15:30:00,(United States) Jobless Claims 4-week Average,High,USD,52
1329,2022-12-29 15:30:00,(United States) Continuing Jobless Claims,High,USD,52
1330,2022-12-30 12:00:00,(Greece) Retail Sales YoY,High,EUR,52

In [7]:
df.sort_values(by='Date', ascending=True)

,Date,Event,Impact,Currency,Week
0,2022-01-03 10:15:00,(Spain) Markit Manufacturing PMI,High,EUR,1
1,2022-01-03 10:30:00,(Austria) Unemployment Rate,High,EUR,1
2,2022-01-03 10:45:00,(Italy) IHS Markit Manufacturing PMI,High,EUR,1
3,2022-01-03 10:55:00,(Germany) Markit Manufacturing PMI,High,EUR,1
4,2022-01-03 11:00:00,(Greece) Markit Manufacturing PMI,High,EUR,1
...,...,...,...,...,...
1325,2022-12-29 10:00:00,(Spain) Retail Sales MoM,High,EUR,52
1328,2022-12-29 15:30:00,(United States) Jobless Claims 4-week Average,High,USD,52
1329,2022-12-29 15:30:00,(United States) Continuing Jobless Claims,High,USD,52
1327,2022-12-29 15:30:00,(United States) Initial Jobless Claims,High,USD,52
1330,2022-12-30 12:00:00,(Greece) Retail Sales YoY,High,EUR,52

In [8]:
# num_weeks = df_new_index.resample('W').size().shape[0]
# num_weeks

In [9]:
for i in df.Week:
    df_wk = df[df['Week'] == i]
    # sort the dataframe by date
    df_wk = df_wk.sort_values(by='Date', ascending=True)
    # grab the date of the first day of the week
    first_day = df_wk['Date'].iloc[0]
    # find out what the previous sunday was for first_day
    sunday = first_day - datetime.timedelta(days=first_day.weekday() + 1)
    year = sunday.year
    month = sunday.month
    day = sunday.day
    # get the filename ready
    filename = "C:/Users/WilliamFetzner/AppData/Roaming/MetaQuotes/Terminal/0C2BFA140CA8FBEFEDCADDDEDD61AA24/tester/files/calendar_statement_" + str(year) + '_' + str(month) + '_' +  str(day) + ".csv"
    # save the file
    df_wk.to_csv(filename, index=False)