In [2]:
import numpy as np
import pandas as pd

In [5]:
# import the csv file
df = pd.read_csv('journal_comparison_Oct_backtest.csv', header=0, names=['entry'])
df

                                                   entry
0      2023.10.16 00:00:00  min_impulse_psar EURUSD,M...
1      2023.10.16 00:15:00  min_impulse_psar EURUSD,M...
2      2023.10.16 00:15:00  min_impulse_psar EURUSD,M...
3      2023.10.16 00:15:00  min_impulse_psar EURUSD,M...
4      2023.10.16 00:15:00  min_impulse_psar EURUSD,M...
...                                                  ...
11346  2023.11.09 23:45:00  min_impulse_psar EURUSD,M...
11347  2023.11.09 23:45:00  min_impulse_psar EURUSD,M...
11348  2023.11.09 23:45:00  min_impulse_psar EURUSD,M...
11349  2023.11.09 23:45:00  min_impulse_psar EURUSD,M...
11350  2023.11.09 23:59:47  Tester: order #136 is closed

[11351 rows x 1 columns]

In [9]:
# pull out the datetime from the string
df['datetime'] = df['entry'].str.extract(r'(\d{4}.\d{2}.\d{2} \d{2}:\d{2}:\d{2})')
# remove the datetime from the string
df['entry'] = df['entry'].str.split('min_impulse_psar EURUSD,M15:').str[1]
df

                                        entry             datetime
0       New Account Equity at Reset: 100000.0  2023.10.16 00:00:00
1                         Entering into OnBar  2023.10.16 00:15:00
2                                     Time: 0  2023.10.16 00:15:00
3                           No Trades Allowed  2023.10.16 00:15:00
4                          more_trades: false  2023.10.16 00:15:00
...                                       ...                  ...
11346                       more_trades: true  2023.11.09 23:45:00
11347                 SMI: -44.36428143293188  2023.11.09 23:45:00
11348                                NO TRADE  2023.11.09 23:45:00
11349                       First Cross: true  2023.11.09 23:45:00
11350                                     NaN  2023.11.09 23:59:47

[11351 rows x 2 columns]

In [17]:
# remove any rows with NaN
df = df.dropna()
# filter entry to where the beginning of the string includes "Closing"
df_closing = df[df['entry'].str.contains('Closing')]
# reverse the order of the datetime and entry columns
df_closing = df_closing.loc[:, ['datetime', 'entry']]
# remove the ":00" from the datetime
df_closing['datetime'] = df_closing['datetime'].str.replace(':00', '')
df_closing

               datetime                                              entry
337    2023.10.16 12:45         Closing Buy Ticket: 3 bar rule Ticket #: 1
373    2023.10.16 14:15          Closing Buy Ticket: PSAR flip Ticket #: 2
443    2023.10.16 17:30   Closing Sell Ticket: SMI crossing above -40 T...
479       2023.10.16 19   Closing Buy Ticket: SMI crossing below 40 Tic...
588    2023.10.16 23:45         Closing Buy Ticket: 3 bar rule Ticket #: 5
...                 ...                                                ...
10591     2023.11.08 16   Closing Sell Ticket: SMI crossing above -40 T...
10779  2023.11.09 00:15   Closing Buy Ticket: SMI crossing below 40 Tic...
11070  2023.11.09 10:45   Closing Sell Ticket: SMI crossing above -40 T...
11150  2023.11.09 14:30   Closing Sell Ticket: SMI crossing above -40 T...
11235  2023.11.09 18:15   Closing Buy Ticket: SMI crossing below 40 Tic...

[62 rows x 2 columns]

In [18]:
# save df_closing to a csv file
# df_closing.to_csv('journal_comparison_Oct_backtest_closing.csv', index=False)